go 1.22.1

use(
    examples/01-generate
    examples/02-generate-stream
    examples/03-chat
    examples/04-chat-stream
    examples/05-context
    examples/06-summary
    examples/07-explain
    examples/08-embeddings
    examples/09-embeddings/create-embeddings
)
