go 1.22.1

use(
    examples/01-generate
    examples/02-generate-stream
    examples/03-chat
    examples/04-chat-stream
    examples/05-context
    examples/06-summary
    examples/07-explain
    examples/08-embeddings-memory
    examples/09-embeddings-bbolt/create-embeddings
    examples/09-embeddings-bbolt/use-embeddings
    examples/09-embeddings-bbolt/embeddings-from-txt
    examples/10-chat-conversational-memory
    examples/11-chat-conversational-bbolt/begin
    examples/11-chat-conversational-bbolt/resume
    ama/embeddings-from-code
    ama/search
    prompting/01-draft
    star-trek-tests
    examples/12-json-output
    examples/13-simple-fake-function-calling
    examples/14-mistral-function-calling
    examples/15-mistral-function-calling
    examples/16-fake-function-calling
    examples/17-fake-function-calling
    examples/18-call-functions-for-real
    examples/18-call-functions-for-real/wasm
    examples/19-play-with-granite
    examples/20-analysis-with-granite
    examples/21-characters
    examples/22-characters
    chat-with-readme/embeddings-from-readme
    chat-with-readme/search
)
